<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/idiomas.css">
    <link rel="stylesheet" href="/css/animaciones.css">
    <script src="https://kit.fontawesome.com/d089f45b77.js" crossorigin="anonymous"></script>
    <title>Datos Personales</title>
</head>

<body>
    <%- include("menu") %>
    <div class="text-center titulo animated bounceInDown"><h1>idiomas</h1></div>
    <div class="principal d-flex text-white animated rotateInUpRight">
        <div>
            <p class="español spain">
                <span>
                    ESPAÑOL
                </span>
                
            </p>
        </div>

        <div>
            <p class="ingles english">
                <span>
                    INGLES
                </span>
            </p>
        </div>
    </div>

    <div>
        <i class="fas fa-long-arrow-alt-down tam"> </i>
    </div>
</body>

</html>