<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/inicio.css">
    <title>inicio</title>
</head>

<body>
    <%- include("menu") %>

    <div class="principal d-flex">
       
        <div class="principal d-flex">
            <div class="css-shapes-preview">
                <img class="rounded foto" src="/img/fotoPersonal.jpeg" alt="">
            </div>
    
            <div class="mr-5 w-50 mt-5 vainilla">
                <p>Hola me llamo Luis Antonio Rojas Ramirez , soy estudiante de Ingeniería del Software en la Universidad Complutense de Madrid. </p>
    
                <p> Soy una persona muy curiosa a la que le encanta las series , el fútbol pero sobre todo la tecnología,
                    fanático especialmente de las aplicaciones , ya sean web ( como en este caso ) o android/ios.
    
                    <p>Otra de mis aficiones es el Ajedrez , al que juego ocasionalmente.</p>
    
                    <p>Actualmente estoy en busca de prácticas que me ayuden a afianzar mis conocimientos , las áreas que
                        más me interesan son FULLSTACK developer y/o ANDROID/IOS developer.
                    </p>
            </div>
        </div>
    </div>
</body>

</html>