<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="">Inicio</a>
        <a href="">Datos Personales</a>
        <a href="">Idiomas</a>
        <a href="">Experiencia Laboral</a>
        <a href="">Info Adicional</a>
    </header>
</body>
</html>