<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="w-75 nombre text-center slide-in">
        <h1 class="text-white "> LUIS ANTONIO ROJAS RAMIREZ</h1>
    </div>
    
    <div class="fixed-top" id="menu">
        <img src="/img/logo.png" alt="" class="slide-in">
        <a href="" class="text-decoration-none text-white bg-success text-uppercase px-3 py-2 d-block text-center">Inicio</a>
        <a href="" class="text-decoration-none text-white bg-success text-uppercase px-3 py-2 d-block text-center">Datos Personales</a>
        <a href="" class="text-decoration-none text-white bg-success text-uppercase px-3 py-2 d-block text-center">Idiomas</a>
        <a href="" class="text-decoration-none text-white bg-success text-uppercase px-3 py-2 d-block text-center">Experiencia Laboral</a>
        <a href="" class="text-decoration-none text-white bg-success text-uppercase px-3 py-2 d-block text-center">Info Adicional</a>
    </div>

</body>
</html>