*{
     /* border: 1px solid red;  */
}

.principal {
    margin-left: 17%;
    margin-top: 5%;
}

.titulo{
    width: 20%;
    margin-left: 40%;
    margin-right: auto;
    border: 1px solid;
}
li{
    list-style: none;
}
.gif{
    width: 7%;
}



